.header {
    /* width: 100%;
    height: auto; */
    padding: 0px 40px;
    position: relative;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px 6px 8px 0 rgb(0 0 0 / 11%);
}

/* .block2{
    position: absolute;
    top: 0;
    right: 0;
} */

h1 {
    color: #ff4100;
}

.block1 ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.block1 ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 18px;
}